<div class="pattern-color">
    <div class="pattern-color__item">
        <div class="pattern-color__charcoal-dark">
        </div>
        <h4 class="pattern-color__name" style="color: #0b0b0b;">Charcoal Dark</h4>
        <p class="pattern-color__variable">$g-color-charcoal-dark</p>
        <p class="pattern-color__hex">#0b0b0b</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__charcoal">
        </div>
        <h4 class="pattern-color__name" style="color: #272727;">Charcoal</h4>
        <p class="pattern-color__variable">$g-color-charcoal</p>
        <p class="pattern-color__hex">#272727</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__charcoal-light">
        </div>
        <h4 class="pattern-color__name" style="color: #424242;">Charcoal Light</h4>
        <p class="pattern-color__variable">$g-color-charcoal-light</p>
        <p class="pattern-color__hex">#424242</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__primary1">
        </div>
        <h4 class="pattern-color__name" style="color: #004b6b;">Primary 1</h4>
        <p class="pattern-color__variable">$g-color-primary1</p>
        <p class="pattern-color__hex">#004b6b</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__primary2">
        </div>
        <h4 class="pattern-color__name" style="color: #07a;">Primary 2</h4>
        <p class="pattern-color__variable">$g-color-primary2</p>
        <p class="pattern-color__hex">#07a</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__secondary1">
        </div>
        <h4 class="pattern-color__name" style="color: #eb5e16;">Secondary 1</h4>
        <p class="pattern-color__variable">$g-color-secondary1</p>
        <p class="pattern-color__hex">#eb5e16</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__secondary2">
        </div>
        <h4 class="pattern-color__name" style="color: #8c322b;">Secondary 2</h4>
        <p class="pattern-color__variable">$g-color-secondary2</p>
        <p class="pattern-color__hex">#8c322b</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__line-grey">
        </div>
        <h4 class="pattern-color__name" style="color: #dcddde;">line Grey</h4>
        <p class="pattern-color__variable">$g-color-line-grey</p>
        <p class="pattern-color__hex">#dcddde</p>
    </div>
</div>
